@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,800&display=swap");

/************************services-section*********************/
.services__text::before {
  display: block;
  border: 2px, solid, #00000026;
  margin-top: 10px;
  margin-bottom: 48px;
  content: "";
}
.services__title {
  text-align: center;
  margin-bottom: 48px;
  letter-spacing: -0.6px;
  line-height: 55.68px;
}

.services__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
}

.services__card-img {
  position: relative;
  padding: 0px 0px 90% 0px;

  overflow: hidden;
}
.services__card-title {
  padding-top: 20px;
  text-align: center;

  line-height: 42px;
}
.services__card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.services__text {
  /* margin-top: 50px; */
  margin-bottom: 40px;
}

.services__text p {
  text-align: justify;
  text-indent: 1.5em;
  line-height: 25.76px;
  /* margin-top: 16px; */
}

@media (max-width: 768px) {
  .services__cards {
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .services__cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
  }
  .services__card-title {
    padding: 5px;
    line-height: 30px;
  }
}
.hero__content-icon {
  visibility: visible;
}
